#page {
    margin: 0 auto;
    text-align: center;
}

body {
    font-family: 'Nunito';
}

h2 {
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}

#myCanvas {
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1000px;
    width: 70%;
    background-color: rgb(232, 213, 173);
    border:2px solid #000000;
    overflow: hidden;
}

#tankz-chat {
    display: inline-block;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 600px;
    width: 30%;
    border:2px solid #000000;
    overflow: hidden;
}

#chat-window {
    height: 100%;
    max-height: 517px;
    overflow: auto;
    background: #f9f9f9;
}

#output p {
    padding: 14px 0px;
    margin: 0 10px;
    border-bottom: 1px solid #e9e9e9;
    color: #555;
}

#feedback p{
    color: #aaa;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong {
    color: #575ed8;
}

label {
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}

input {
    padding: 10px 20px;
    box-sizing: border-box;
    background: #eee;
    border: 0;
    display: block;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #eee;
    font-family: Nunito;
    font-size: 16px;
}

button {
    background: #36640a;
    color: #fff;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}